.custom-slider::-webkit-slider-thumb {
  background-color: #0d6efd;
  border: 2px solid #fff;
  height: 20px;
  width: 20px;
  margin-top: -8px;
  border-radius: 50%;
}

.custom-slider::-webkit-slider-runnable-track {
  height: 6px;
  background: #d3d3d3;
  border-radius: 3px;
}
